{% extends 'base.html' %}
{% load static %}

{% block title %}{{object.first_name}}{% endblock title %}Detalle Empleado

{% block content %}
{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x grid-margin align-center">
        <div class=" cell large-4 card" style="width: 300px; margin-top:10px;">
            <div class="card-divider">
                <h4>{{empleado.department}}</h4>
            </div>
            
            {% if empleado.image %}
                <img src="{{ empleado.image.url }}">
            
            {% else %}
                <img src="{% static 'img/not-found.jpg' %}">
            {% endif %}
                
            <div class="card-section">
                <h4>{{empleado.first_name}} {{empleado.last_name}}</h4>
                <p>{{empleado.department.shor_name}}</p>
                <p><span class="label"> Habilidades: </span></p>
                <ul class="vertical menu">
                    {% for h in empleado.skills.all %}
                        <li>{{h.name}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>




{% endblock content %}








<h1>detalle empleado {{titulo}}</h1>

{{empleado}}

<h3>todos los datos</h3>

<p>{{empleado.first_name}}</p>
<p>{{empleado.last_name}}</p>
<p>{{empleado.departamento}}</p>


